@page "/"

<PageTitle>Home</PageTitle>

<h1>Hallo og,    velkommen til dene fanastiske nettshiten</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Telenor_Logo.svg" alt="Alternate Text" style = "height: 50px"/>
Welcome to your new app.
